* {
  font-family: Orbitron, sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr auto;
  grid-gap: 5px;
  overflow: hidden;
}
nav,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: #6200ee;
  font-size: 20px;
  grid-column: span 2;
  z-index: 1;
}
footer {
  grid-row-end: span 2;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  color: white;
}

#nav-section {
  display: flex;
}
div {
  margin: 10px;
}

#main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.content {
  padding: 10px;
}
.paragraph {
  width: 800px;
  font-size: 20px;
  word-spacing: 5px;
}
#text-input {
  width: 800px;
  font-size: 20px;
  height: 30vh;
}
.correct {
  color: green;
  font-weight: 900;
}
.wrong {
  color: red;
  font-weight: 900;
}

#heading {
  font-size: 40px;
  padding: 30px;
  font-weight: 900;
}

.button-div {
  display: none;
  position: absolute;
  align-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}
#restart-button,
#start-button {
  justify-content: center;
  align-content: center;
  padding: 10px;
  font-size: large;
  font-weight: bolder;
  border: 1px solid black;
}

#stats {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dark-theme {
  background-color: #121212;
  color: #03dac5;
  border-color: #03dac5;
}
