body {
  position: relative;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 5px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: #f03f3c;
  font-size: 20px;
  grid-column: span 2;
}

#nav-section {
  display: flex;
}
div {
  margin: 10px;
}

#input-div {
  position: absolute;
  bottom: 0;
  left: 40%;
}
#user-input {
  width: 200px;
  padding: 5px;
}

#game-div {
  position: absolute;
  left: 40%;
  top: 5%;
  border: 1px solid black;
  width: 200px;
  font-size: large;
  font-weight: bolder;
}
.button-div {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  padding: 10px;
  top: 40%;
  left: 40%;
}
#restart-button {
  position: relative;
  left: 40%;
}
